.App {
  background-color: darkorchid;
  display: flex;
  justify-content: center;
  color: white;
}

#MeG {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color:aquamarine;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
} 

.nav-item {
  margin: 0 40px;
}

.nav-item a {
  color:black;
}